* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}



.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
}

.container {
    width: 100%;
    height: 100vh;
}

.subtitle-h3 {
    font-size: 1.8rem;
    color: #fff;
}

.paragraph{
    font-size: 1.2rem;
    color: #fff;
}

.bg-original {
    background-image: url("../images/background-main.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.bg-right {
    background-image: url("../images/background-main.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
}



