/* INICIO HEADER */


.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo {
    height: 4rem;
}


.list-links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.list-links li {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

.list-links li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    position: relative;
}

.list-links li a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e53939;
  transform-origin: bottom right;
  transition: transform 1s ease-out;
}

.list-links li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }


i.fa-solid.fa-bars {
    display: none;
}

.navigation-mobile {
    display: none;
}

.nav-bar  {
    display: none;
}

/* FIM HEADER */



/* INICIO MAIN */

.main {
    width: 100%;
    height: 100vh;
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-main {
    color: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo-main {
    width: 100%;
}



.left-main, .rigth-main {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

.rigth-main {
    padding-left: 0;
}


/* FIM MAIN */

/* INICIO ABOUT */

.about {
    width: 100%;
    height: 100vh;
}

.subtitle {
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding-top: 150px;
    font-size: 2rem;
}

.subtitle::after {
    content: '';
    display: block;
    border-bottom: 3px solid #e53939;
    width: 15%;
    margin: 5px auto;
}



.container-about {
    height: calc(100vh - 230px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-about, .right-about {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
   
}

.right-about {
    gap: 15px;
}

.left-about img {
    border-bottom: 3px solid #e53939;
    border-right: 3px solid #e53939;
}
/* FIM ABOUT */

/* INICIO SERVICES */

.container-services {
    height: calc(100vh - 230px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}



.title-services {
    text-align: center;
    color: #fff;
}

.our-services {
    width: 250px;
    height: 400px;
    background-color: #222;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.icon-services {
    font-size: 6rem;
    color: #e53939;
}


/* FIM SERVICES */
.footer {
    height: 50vh;
    background-color: #000;
}

.contacts-codigo-certo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #000;
    padding: 50px 0;
}

.icon-footer {
    font-size: 3rem;
    color: #fff;
}

.icon-footer:hover {
    font-size: 3rem;
    color: #e53939;
}

.footer-avatar {
    background-color: #000;
}

.footer img {
    width: 100%;
}


#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #e53939; 
    color: #fff; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}

#myBtn:hover {
    background-color: #222;
}